---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space-time!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Oops something went funky</h1>
	<p class="mb-8">Please use youer imagination to find your way back</p>
	<div class="my-4 grid justify-center"></div>
</PageLayout>
