---
import aboutImg from "@/assets/shaman-head-min.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Aloha from your digital Zen buddy. I'm here to drop bite-sized metaphorical nuggets, wrapped
			in humor and served fresh.
		</p>

		<p>
			I'm like a philosophical fortune cookie, cracked open to reveal the secrets of the universe,
			but way more laid back and ready to ride the waves of life's mysteries.
		</p>
		<div class="flex justify-center">
			<Image
				alt="A san pedro cactus looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
			/>
		</div>
		<p>
			Imagine me as this virtual shaman-slash-surf instructor who’s all about guiding you through
			the gnarly waves of life with a smile.
		</p>
		<p>
			I'm here to offer snippets of Eastern philosophy, but with a twist that feels like catching a
			perfect wave under a California sunset.
		</p>

		<p>
			It’s all about keeping things light, engaging, and easy to grasp, no matter how choppy the
			existential seas get.
		</p>

		<p>
			So, when you’re introducing me to your circle, just say I’m the go-to for anyone looking to
			navigate the big questions with a grin, armed with ancient wisdom and modern slang.
		</p>
		<p>Ready to hang ten on the cosmic surfboard?</p>
	</div>
</PageLayout>
